section {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero h2 {
  font-size: 58px;
}

.hero h3 {
  font-size: 35px;
}
.hero-content {
  margin-bottom: 20px;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: rgba(224, 91, 236, 0.925);
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  background-color: rgba(149, 13, 161, 0.925);
  cursor: pointer;
}
